*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    padding: 20px;

}
.container h1{
    font-size: 2.5em;

}
.todo-container{
    width: 100%;
    margin : 2% 0;
}
#inputTodo{
    padding: 3%;
    width: 250px;
    font-size: 1em;
}
#addTodo{
    padding: 3%;
    font-size: 1em;
    width: 80px;
}
ul li{
    padding: 3%;
    list-style: none;
    font-size: 1.2em;
    width: 250px;
}

#clearAll{
    margin : 2% 0;
    padding: 3%;
    font-size: 1em;
    width: 100%;
}