*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    padding: 20px;
}
#inputTodo{
    padding: 2%;
}
ul li{
    padding: 2%;
    list-style: none;
}